.palettes {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: flex-end;
}
.palettes__item {
  margin: 0 30px;
  min-width: 180px;
}
.palettes__colors {
  list-style: none;
  padding: 0;
}
.title__container {
  display: flex;
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.arrow {
  color: yellow;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}
