.title {
  text-align: center;
  margin-bottom: 20px;
}
.textarea {
  width: 800px;
  height: 200px;
}
.background {
  padding: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.background-red {
  background-color: red;
}
.background-default {
  background-color: rgb(240, 220, 194);
}