.title {
  text-align: center;
}
.textarea {
  width: 800px;
  height: 200px;
}
.img {
  height: 150px;
  padding: 30px;
  border-radius: 100px;
}
.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background-red {
  background-color: red;
}
.background-default {
  background-color: white;
}