.card-films {
  display: flex;
  border: 2px solid blue;
  width: 30vw;
  padding: 15px;
  background-color: rgb(235, 235, 247);
}

.title__movie-films, .theme__movie-films, .language__movie-films {
  color: rgb(255, 0, 170);
}